<footer class="background_dark_grey">
    <section id="elements_footer" class="container">
        <div>
            <h3>Suscribite a nuestro newsletter</h3>
            <p>Recibí nuestras ofertas y novedades antes que nadie.</p>
            <form>
                <input
                    type="text"
                    class="newsletter_send"
                    name="newsletter"
                    placeholder="Ingrese sus email"
                />
                <button class="button_small background_primary" value="ENVIAR">
                    ENVIAR
                </button>
            </form>
        </div>
        <div>
            <h3>Contacto</h3>
            <ul>
                <li>11 2345 6789</li>
                <li><a href="">info@compumundohipermegared.com</a></li>
                <li><a href="">Encontrar un local</a></li>
            </ul>
        </div>
        <div>
            <h3>Productos</h3>
            <ul>
                <li><a href="">Microprocesadores</a></li>
                <li><a href="">Motherboards</a></li>
                <li><a href="">Memorias ram</a></li>
                <li><a href="">Placas de video</a></li>
                <li><a href="">Discos rigidos</a></li>
                <li><a href="">Ver todos</a></li>
            </ul>
        </div>
        <div>
            <h3>Perifericos</h3>
            <ul>
                <li><a href="">Teclados</a></li>
                <li><a href="">Mouses</a></li>
                <li><a href="">Pads</a></li>
                <li><a href="">Auriculares</a></li>
                <li><a href="">Parlantes</a></li>
                <li><a href="">Ver todos</a></li>
            </ul>
        </div>
    </section>
    <section class="background_black">
        <div class="social_footer container">
            <img src="images/logo_footer.png" alt="" />
            <ul>
                <li>
                    <a href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </section>
</footer>
</html>

