<footer class="container-fluid">
    <section class="row bg-dark">
        <div class="col-sm">
            <h3>Suscribite a nuestro newsletter</h3>
            <p>Recibí nuestras ofertas y novedades antes que nadie.</p>
            <form>
                <input
                    type="text"
                    class="newsletter_send"
                    name="newsletter"
                    placeholder="Ingrese sus email"
                />
                <button class="button_small background_primary" value="ENVIAR">
                    ENVIAR
                </button>
            </form>
        </div>
        <div class="col-sm">
            <h3>Contacto</h3>
            <ul>
                <li>11 2345 6789</li>
                <li><a href="">info@compumundohipermegared.com</a></li>
                <li><a href="">Encontrar un local</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <h3>Productos</h3>
            <ul>
                <li><a href="">Microprocesadores</a></li>
                <li><a href="">Motherboards</a></li>
                <li><a href="">Memorias ram</a></li>
                <li><a href="">Placas de video</a></li>
                <li><a href="">Discos rigidos</a></li>
                <li><a href="">Ver todos</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <h3>Perifericos</h3>
            <ul>
                <li><a href="">Teclados</a></li>
                <li><a href="">Mouses</a></li>
                <li><a href="">Pads</a></li>
                <li><a href="">Auriculares</a></li>
                <li><a href="">Parlantes</a></li>
                <li><a href="">Ver todos</a></li>
            </ul>
        </div>
    </section>
    <section class="row bg-secondary">
        <div class="col-sm">
            <img class="col-sm" src="images/logo_footer.png" alt="" />
        </div>
        <div class="col-sm">
            <ul>
                <li>
                    <a href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </section>
</footer>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
></script>
