<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href=" /"
                ><img
                    src="/images/logo_header.png"
                    alt="Logo
                CompumundoHiperMegaRed"
                    width="200"
            /></a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Productos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        ></a>

                        <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown"
                        >
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Procesadores</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Motherboards</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Placas de Video</a
                                >
                            </li>

                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Todos los Productos</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productDetail"
                            >Computadoras</a
                        >
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/productDetail"
                            >Configurá tu PC</a
                        >
                    </li>
                </ul>
                <form class="d-flex">
                    <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Buscar"
                        aria-label="Search"
                    />
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

                <ul class="navbar-nav ml-auto mb-2 mb-lg-0" id="navbarIcons">
                    <li id="account">
                        <a class="nav-link" href="/users/login"
                            ><i class="fas fa-user-circle"></i
                        ></a>
                    </li>
                    <li id="register">
                        <a class="nav-link" href="/users/register"
                            ><i class="fas fa-address-card"></i
                        ></a>
                    </li>

                    <li id="checkout">
                        <a class="nav-link" href="/checkout"
                            ><i class="fas fa-shopping-cart"></i
                        ></a>
                    </li>
                </ul>
                <ul>
                    <li><h5>jiguastello@hotmail.com</h5></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
