<header>
    <nav class="background_dark_grey">
        <div class="navbar container">
            <a href=" /"
                ><img
                    src="images/logo_header.png"
                    alt="Logo CompumundoHiperMegaRed"
            /></a>
            <ul class="menu_nav">
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/productDetail">PC de escritorio</a></li>
                <li><a href="/productDetail">Notebook</a></li>
                <li><a href="/productDetail">Perifericos</a></li>
                <li><a href="/productDetail">Configura tu PC</a></li>
            </ul>
            <ul>
                <li id="search">
                    <a href=""><i class="fas fa-search"></i></a>
                </li>
                <li id="account">
                    <a href="/login"><i class="fas fa-user-circle"></i></a>
                </li>
                <li id="register">
                    <a href="/register"><i class="fas fa-address-card"></i></a>
                </li>

                <li id="checkout">
                    <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
