.w-20 {
    width: 20% !important;
}

.w-15 {
    width: 15% !important;
}

/* ul y li sin diseño */
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.txtd-none {
    text-decoration: none;
}

/* Theme */
.bg-darkgrey {
    background-color: #424242;
}

.card-img-top {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

/* fa avatar register */
.fs-20 {
    font-size: 20vh;
}

.card-title {
    height: 54px;
}
