<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/styles.css" />
        <title>CompumundoHiperMegaRed</title>
    </head>
    <body>
        <h1>Mi carrito</h1>
        <div>
            <div>
                <div><img src="" alt="" /></div>
                <div><h3>Item full name</h3></div>
                <div>
                    <h4>Precio</h4>
                    <h3>$11.999</h3>
                </div>

                <div>
                    <label for="cantidad">Cantidad:</label>
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div>
                    <h4>Subtotal</h4>
                    <h3>$11.999</h3>
                </div>
                <div><i class="fas fa-trash"></i></div>
            </div>
            <div>
                <div><img src="" alt="" /></div>
                <div><h3>Item full name</h3></div>
                <div>
                    <h4>Precio</h4>
                    <h3>$11.999</h3>
                </div>

                <div>
                    <label for="cantidad">Cantidad:</label>
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div>
                    <h4>Subtotal</h4>
                    <h3>$11.999</h3>
                </div>
                <div><i class="fas fa-trash"></i></div>
            </div>
            <div>
                <div><img src="" alt="" /></div>
                <div><h3>Item full name</h3></div>
                <div>
                    <h4>Precio</h4>
                    <h3>$11.999</h3>
                </div>

                <div>
                    <label for="cantidad">Cantidad:</label>
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div>
                    <h4>Subtotal</h4>
                    <h3>$11.999</h3>
                </div>
                <div><i class="fas fa-trash"></i></div>
            </div>
        </div>
        <div>
            <div></div>
            <h4><a href="views/index.html">Compra mas productos</a></h4>
            <button value="FINALIZAR COMPRA"></button>
        </div>
        <footer>
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div>
                    <i class="fab fa-facebook"></i><i class="fab fa-twitter"></i
                    ><i class="fab fa-instagram"></i>
                </div>
            </div>
        </footer>
    </body>
</html>
