<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="/css/style.css" href="style.css" />
    <title>CompumundoHiperMegaRed</title>
  </head>
  <body>
    <header>
      <img src="" alt="" />

      <nav>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul>
          
            <li id="search"><i class="fas fa-search"></i></i></li>
            <ul id="account"><i class="fas fa-user-circle"></i></i>
            <li id="login">Ingresá <a href="/views/login"><i class="fas fa-sign-in-alt"></i></i></a></li>
            <li id="register">Creá tu cuenta<i class="fas fa-address-card"></i></li>
            </ul>
            
          </ul>
          
          
        </ul>
      </nav>
    </header>
    <main>
      <div id="carrusel"></div>
    </main>
    <div id="cards-l"></div>
    <div id="banner"></div>
    <div id="cards-m"></div>
    <div id="brands"></div>
    <footer>
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div></div>
        <div><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i></div>
      </div>
    </footer>
  </body>
</html>
