<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="/css/style.css" href="style.css" />
    <title>CompumundoHiperMegaRed</title>
  </head>
  <body>
    <header>
      <img src="" alt="" />

      <nav>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="carrusel"></div>
    </main>
    <div id="cards-l"></div>
    <div id="banner"></div>
    <div id="cards-m"></div>
    <div id="brands"></div>
    <footer>
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div></div>
        <div></div>
      </div>
    </footer>
  </body>
</html>
