<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/theme.css" />
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/forms.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <title>CompumundoHiperMegaRed</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="/"
                    ><img
                        src="images/logo_header.png"
                        alt="Logo CompumundoHiperMegaRed"
                /></a>
                <ul class="menu_nav">
                    <li><a href="/pc">PC de escritorio</a></li>
                    <li><a href="/notebook">Notebook</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/perifericos">Perifericos</a></li>
                    <li><a href="/configuracion">Configura tu PC</a></li>
                </ul>
                <ul>
                    <li id="search">
                        <a href=""><i class="fas fa-search"></i></a>
                    </li>
                    <li id="account">
                        <a href="/login"><i class="fas fa-user-circle"></i></a>
                    </li>
                    <!--<li id="login">
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li id="register">
            <a href="/register">Creá tu cuenta<i class="fas fa-address-card"></i></a>
          </li>-->

                    <li id="search">
                        <a href=""><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="slider ">
              
                <a href="#"><img class="width_100" src="/images/brands/play5.png"  alt="banner playstation 5" /></a>
                
            </section>
            <div id="" class="container">
<h2 class="padding_y_15 text_align_center">Ofertas destacadas</h2>
                <section id="ofertas_destacadas">
                                    <div class="card_container">
                    <div class="card_product">
                        <div>
                            <img
                                src="/images/products/geforce-rtx-3090.jpg"
                                alt=""
                            />
                        </div>
                        <div class="card_description">
                            <h3>Nvidia Geforce GT 710 1Gb Ddr5</h3>
                            <p>Placa de video</p>

                            <h2 class="color_primary strong_font">$1500</h2>
                        </div>
                        <div class="card_button">
                            <button
                                value="VER PRODUCTO"
                                class="button background_primary"
                            >
                                Ver producto
                            </button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div>
                            <img
                                src="/images/products/geforce-rtx-3090.jpg"
                                alt=""
                            />
                        </div>
                        <div class="card_description">
                            <h3>Nvidia Geforce GT 710 1Gb Ddr5</h3>
                            <p>Placa de video</p>

                            <h2 class="color_primary strong_font">$1500</h2>
                        </div>
                        <div class="card_button">
                            <button
                                value="VER PRODUCTO"
                                class="button background_primary"
                            >
                                Ver producto
                            </button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div>
                            <img
                                src="/images/products/geforce-rtx-3090.jpg"
                                alt=""
                            />
                        </div>
                        <div class="card_description">
                            <h3>Nvidia Geforce GT 710 1Gb Ddr5</h3>
                            <p>Placa de video</p>

                            <h2 class="color_primary strong_font">$1500</h2>
                        </div>
                        <div class="card_button">
                            <button
                                value="VER PRODUCTO"
                                class="button background_primary"
                            >
                                Ver producto
                            </button>
                        </div>
                    </div>
                    <div class="card_product">
                        <div>
                            <img
                                src="/images/products/geforce-rtx-3090.jpg"
                                alt=""
                            />
                        </div>
                        <div class="card_description">
                            <h3>Nvidia Geforce GT 710 1Gb Ddr5</h3>
                            <p>Placa de video</p>

                            <h2 class="color_primary strong_font">$1500</h2>
                        </div>
                        <div class="card_button">
                            <button
                                value="VER PRODUCTO"
                                class="button background_primary"
                            >
                                Ver producto
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section id="configura_tu_pc">
            <img src="/images/brands/gaming-desktops.jpg" alt="Configura tu PC"/>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <button
                value="CONFIGURAR AHORA"
                class="button background_primary"
            >CONFIGURAR AHORA</button>
            </section>

            <section id="cartas_productos" class="card_container">
                <div class="card_product_small">
                    <div>
                        <img
                            src="/images/products/geforce-rtx-3090.jpg"
                            alt=""
                        />
                    </div>
                    <div class="card_description">
                        <h3>Producto</h3>
                    </div>
                    <div class="card_button">
                        <button
                            value="VER PRODUCTO"
                            class="button background_secondary"
                        >
                            Ver producto
                        </button>
                    </div>
                </div>
                <div class="card_product_small">
                    <div>
                        <img
                            src="/images/products/geforce-rtx-3090.jpg"
                            alt=""
                        />
                    </div>
                    <div class="card_description">
                        <h3>Producto</h3>
                    </div>
                    <div class="card_button">
                        <button
                            value="VER PRODUCTO"
                            class="button background_secondary"
                        >
                            Ver producto
                        </button>
                    </div>
                </div>
                <div class="card_product_small">
                    <div>
                        <img
                            src="/images/products/geforce-rtx-3090.jpg"
                            alt=""
                        />
                    </div>
                    <div class="card_description">
                        <h3>Producto</h3>
                    </div>
                    <div class="card_button">
                        <button
                            value="VER PRODUCTO"
                            class="button background_secondary"
                        >
                            Ver producto
                        </button>
                    </div>
                </div>
                <div class="card_product_small">
                    <div>
                        <img
                            src="/images/products/geforce-rtx-3090.jpg"
                            alt=""
                        />
                    </div>
                    <div class="card_description">
                        <h3>Producto</h3>
                    </div>
                    <div class="card_button">
                        <button
                            value="VER PRODUCTO"
                            class="button background_secondary"
                        >
                            Ver producto
                        </button>
                    </div>
                </div>
                <div class="card_product_small">
                    <div>
                        <img
                            src="/images/products/geforce-rtx-3090.jpg"
                            alt=""
                        />
                    </div>
                    <div class="card_description">
                        <h3>Producto</h3>
                    </div>
                    <div class="card_button">
                        <button
                            value="VER PRODUCTO"
                            class="button background_secondary"
                        >
                            Ver producto
                        </button>
                    </div>
                </div>
                <div class="card_product_small">
                    <div>
                        <img
                            src="/images/products/geforce-rtx-3090.jpg"
                            alt=""
                        />
                    </div>
                    <div class="card_description">
                        <h3>Producto</h3>
                    </div>
                    <div class="card_button">
                        <button
                            value="VER PRODUCTO"
                            class="button background_secondary">
                            Ver producto
                        </button>
                    </div>
                </div>
            </section>

            <h2 class="text_align_center">Marcas con las que trabajamos</h2>

            <section class="cards_brands">
              
              <div><img src="/images/brands/amd-logo-5.png" alt=""></div>
<div><img src="/images/brands/intel-logo-8.png" alt=""></div>
<div><img src="/images/brands/lenovo-logo-10.png" alt=""></div>
<div><img src="/images/brands/western-digital-logo-4-1.png" alt=""></div>
<div><img src="/images/brands/nvidia-logo-10-1.png" alt=""></div>
            </section>

</div>

        </main>
        <footer>
            <section id="elements_footer">
                <div>
                    <h3>Suscribite a nuestro newsletter</h3>
                    <p>Recibí nuestras ofertas y novedades antes que nadie.</p>
                    <form>
                        <input
                            type="text"
                            id="newsletter_send"
                            name="newsletter"
                            placeholder="Ingrese sus email"
                        />
                        <input type="submit" value="Enviar" />
                    </form>
                </div>
                <div>
                    <h3>Contacto</h3>
                    <ul>
                        <li>11 2345 6789</li>
                        <li>info@compumundohipermegared.com</li>
                        <li><a href=""></a>Encontrar un local</li>
                    </ul>
                </div>
                <div>
                    <h3>Productos</h3>
                    <ul>
                        <li><a href="">Microprocesadore</a>s</li>
                        <li><a href="">Motherboards</a></li>
                        <li><a href="">Memorias ram</a></li>
                        <li><a href="">Placas de video</a></li>
                        <li><a href="">Discos rigidos</a></li>
                        <li><a href="">Ver todos</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Perifericos</h3>
                    <ul>
                        <li><a href="">Teclados</a></li>
                        <li><a href="">Mouses</a></li>
                        <li><a href="">Pads</a></li>
                        <li><a href="">Auriculares</a></li>
                        <li><a href="">Parlantes</a></li>
                        <li><a href="">Ver todos</a></li>
                    </ul>
                </div>
            </section>
            <section id="social_footer">
                <img src="images/logo_footer.png" alt="" />
                <ul>
                    <li>
                        <a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </section>
        </footer>
    </body>
</html>
