<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="/css/style.css" href="style.css" />
    <title>CompumundoHiperMegaRed</title>
  </head>
  <body>
    <div></div>
    <h1>Ingresar</h1>
    <button></button>
    <button></button>
    <label for="email">E-mail:</label>
    <input type="email" name="email" id="email" placeholder="mail@gmail.com"/>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" />
    <input type="submit" value="INGRESAR">
    <a href="#">No estas registrado? Registrate acá</a>
  </div>
  </body>
  
</html>
