<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/forms.css">
    <link rel="stylesheet" href="css/theme.css">

    <title>CompumundoHiperMegaRed</title>
</head>
<header>
    <nav class="background_dark_grey">
        <div class="navbar container">
            <a href=" /"><img src="images/logo_header.png" alt="Logo CompumundoHiperMegaRed" /></a>
            <ul class="menu_nav">
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/productDetail">PC de escritorio</a></li>
                <li><a href="/productDetail">Notebook</a></li>
                <li><a href="/productDetail">Perifericos</a></li>
                <li><a href="/productDetail">Configura tu PC</a></li>
            </ul>
            <ul>
                <li id="search">
                    <a href=""><i class="fas fa-search"></i></a>
                </li>
                <li id="account">
                    <a href="/login"><i class="fas fa-user-circle"></i></a>
                </li>
                <li id="register">
                    <a href="/register"><i class="fas fa-address-card"></i></a>
                </li>

                <li id="checkout">
                    <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>



<body>
    <div class="display_flex flex_column content_login container">
        <h1 class="text_center margin_10">Ingresar</h1>
        <button class="button_small background_primary"><i class="fab fa-google"></i> INGRESAR CON GOOGLE</button>
        <button class="button_small background_primary"><i class="fab fa-facebook"></i> INGRESAR CON FACEBOOK</button>
        <div class="login">
            <form action="/" method="POST" class="mt-14">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="mail@gmail.com" />
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" />
                <button class="button_large background_primary" type="submit" value="INGRESAR">INGRESAR</button>
            </form>
        </div>
        <div class="text_center  margin_10">
            <a class="color_primary" href="#">No estas registrado? Registrate acá</a>
        </div>
    </div>
    <footer class="background_dark_grey">
        <section id="elements_footer" class="container">
            <div>
                <h3>Suscribite a nuestro newsletter</h3>
                <p>Recibí nuestras ofertas y novedades antes que nadie.</p>
                <form>
                    <input type="text" class="newsletter_send" name="newsletter" placeholder="Ingrese sus email" />
                    <button class="button_small background_primary" value="ENVIAR">ENVIAR</button>
                </form>
            </div>
            <div>
                <h3>Contacto</h3>
                <ul>
                    <li>11 2345 6789</li>
                    <li><a href="">info@compumundohipermegared.com</a></li>
                    <li><a href="">Encontrar un local</a></li>
                </ul>
            </div>
            <div>
                <h3>Productos</h3>
                <ul>
                    <li><a href="">Microprocesadores</a></li>
                    <li><a href="">Motherboards</a></li>
                    <li><a href="">Memorias ram</a></li>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Discos rigidos</a></li>
                    <li><a href="">Ver todos</a></li>
                </ul>
            </div>
            <div>
                <h3>Perifericos</h3>
                <ul>
                    <li><a href="">Teclados</a></li>
                    <li><a href="">Mouses</a></li>
                    <li><a href="">Pads</a></li>
                    <li><a href="">Auriculares</a></li>
                    <li><a href="">Parlantes</a></li>
                    <li><a href="">Ver todos</a></li>
                </ul>
            </div>
        </section>
        <section class="background_black ">
            <div class="social_footer container">
                <img src="images/logo_footer.png" alt="" />
                <ul>
                    <li>
                        <a href=""><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>