<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <main>
                <div class="container">
                    <section class="breadcrumb padding_y_15">
                        Inicio > Categoria > Marca > Producto
                    </section>
                    <section id="related_products" class="margin_botton_30">
                        <h2 class="padding_y_15">Productos relacionados</h2>
                        <div class="card_container">
                            <div class="card_product">
                                <div>
                                    <img src="/images/products/geforce-rtx-3090.jpg" alt="" />
                                </div>
                                <div class="card_description">
                                    <h3>Nvidia Geforce GT 710 1Gb Ddr5</h3>
                                    <p>Placa de video</p>

                                    <h2 class="color_primary strong_font">$1500</h2>
                                </div>
                                <div class="card_button">
                                    <button value="VER PRODUCTO" class="button background_primary">
                                        Ver producto
                                    </button>
                                </div>
                            </div>
                            <div class="card_product">
                                <div>
                                    <img src="/images/products/geforce-rtx-3090.jpg" alt="" />
                                </div>
                                <div class="card_description">
                                    <h3>Nvidia Geforce GT 710 1Gb Ddr5</h3>
                                    <p>Placa de video</p>

                                    <h2 class="color_primary strong_font">$1500</h2>
                                </div>
                                <div class="card_button">
                                    <button value="VER PRODUCTO" class="button background_primary">
                                        Ver producto
                                    </button>
                                </div>
                            </div>
                            <div class="card_product">
                                <div>
                                    <img src="/images/products/geforce-rtx-3090.jpg" alt="" />
                                </div>
                                <div class="card_description">
                                    <h3>Nvidia Geforce GT 710 1Gb Ddr5</h3>
                                    <p>Placa de video</p>

                                    <h2 class="color_primary strong_font">$1500</h2>
                                </div>
                                <div class="card_button">
                                    <button value="VER PRODUCTO" class="button background_primary">
                                        Ver producto
                                    </button>
                                </div>
                            </div>
                            <div class="card_product">
                                <div>
                                    <img src="/images/products/geforce-rtx-3090.jpg" alt="" />
                                </div>
                                <div class="card_description">
                                    <h3>Nvidia Geforce GT 710 1Gb Ddr5</h3>
                                    <p>Placa de video</p>

                                    <h2 class="color_primary strong_font">$1500</h2>
                                </div>
                                <div class="card_button">
                                    <button value="VER PRODUCTO" class="button background_primary">
                                        Ver producto
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <%- include("partials/footer") %>
    </body>