<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" />
    <title>CompumundoHiperMegaRed</title>
  </head>
  <body>
    <header>
      <h1>Registrate</h1>
      <h2>¿Ya tenes tu cuenta?<a href="views/login.html">Ingresa</a></h2>
    </header>
    <form action="/" method="POST">
      <label for="name">Nombre y apellido:</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Nombre y apellido"
      />
      <label for="email">E-mail:</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="mail@gmail.com"
      />
      <label for="password">Elegí tu contraseña</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Elegí tu contraseña"
      />
      <label for="password">Confirma tu contraseña</label>
      <input
        type="pass_confirm"
        name="pass_confirm"
        id="pass_confirm"
        placeholder="Confirmá tu contraseña"
      />
      <input type="submit" value="Enviar" />
      <input type="button" value="Registrarte con Google" />
    </form>
    <div>
      <i class="fas fa-user-circle"></i>
      <h3>¿Que vas a hacer con tu cuenta?</h3>
      <ul>
        <li>Consultar el estado de tus compras</li>
        <li>Administrar tus productos favoritos</li>
        <li>Descargar las facturas</li>
        <li>Consultar manuales de los productos comprados</li>
        <li>Definir tus preferencias e intereses</li>
        <li>Acceder al historial de productos vistos</li>
        <li>Retomar tus compras incompletas</li>
      </ul>
      <h5>Recibi notificaciones de tus compras, ofertas y descuentos exclusivos.</h5>
      <h5>Ver politicas de privacidad</h5>
      <i class="fas fa-paper-plane"></i>
    </div>
  </body>
</html>
