.login input,
.register input {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px rgb(40, 81, 196);
    background-color: rgba(44, 53, 182, 0.5);
}

.login_redes {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
}

.login input[type="submit"],
.register input[type="submit"],
.login_redes {
    color: #fff;
    background-color: #0044aa;
    border-radius: 5px;
}

.login input[type="submit"]:hover,
.register input[type="submit"]:hover,
.login_redes:hover {
    background-color: #0022aa;
}

.register input[type="reset"] {
    color: #fff;
    background-color: #aa0044;
}

.register input[type="reset"]:hover {
    background-color: #cc1155;
}
.newsletter_send {
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    background-color: #ffffff;
}

.align_center {
    align-items: center;
}

.text_center {
    text-align: center;
}

.display_flex {
    display: flex;
}

.flex_column {
    flex-direction: column;
}

.content_login {
    margin: 30vw;
    margin-top: 10px;
    margin-bottom: 50px;
}

.content_register {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 40%;
}
.content_register li {
    list-style-type: disc !important;
    padding: 10px;
}

.avatar_register {
    font-size: 200px;
    text-align: center;
}

h6 {
    margin: 5px;
}
