/* General */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}

li {
    list-style-type: none;
}
ul {
    padding: 0px;
}
a {
    margin: 0px;
}
a:link {
    text-decoration: none;
}
.breadcrumb {
    display: block;
    font-size: 0.8em;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button_small {
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Nav Styles*/

nav {
    background-color: #0289cb;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 0 20px;
}

nav a {
    color: #ffffff;
}

nav img {
    width: 225px;
    height: 46px;
    margin: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav i {
    padding: 10px;
}

.menu_nav li {
    margin: 0 10px;
}

/* Footer */
footer {
    background-color: #0289cb;
    color: #ffffff;
}

footer i {
    padding: 10px;
}

footer a {
    color: white;
}

#elements_footer ul {
    display: flex;
    flex-direction: column;
}

#elements_footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#social_footer {
    background-color: #003e5e;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social_footer ul {
    display: flex;
    justify-content: space-between;
}

footer h3 {
    margin: 20px 0;
}

/* Home */

#home_container{
  margin-left: 3vw;
    margin-right: 3vw;
   
}

.card_product_small{
     width: 16%;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px #cccccc;
}
.card_product_small img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cards_brands{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
        margin: 38px;
}

.cards_brands img {
    width: 13vw;
    height: 5vh;
}



/* Listado */

/* Producto */
section {
    margin-bottom: 30px;
}

.product {
    display: flex;
    flex-wrap: wrap;
}

.product-gallery img {
    width: 100%;
}
.quantity_product {
    padding: 14px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px #ccc;
}

.product_combo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px #cccccc;
}

.product_combo img {
    width: 50px;
    height: 50px;
}
.item_name_combo {
    width: 250px;
}
.item_description_combo {
    width: 390px;
}

.item_pricen_combo {
    width: 100px;

    text-align: center;
}
.product_info {
    display: flex;
    justify-content: space-between;
}
.product_description {
    width: 33%;
    padding: 10px;
}
.product_description h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.label_type {
    width: 40%;
    text-align: left;
    font-weight: 700;
}

.label_description {
    width: 60%;
    text-align: left;
}

.card_container {
    display: flex;
    justify-content: space-between;
}

.card_product {
    width: 24%;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px #cccccc;
}

.card_button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.card_product img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_description {
    padding: 20px;
    text-align: center;
}

/* Checkout */
.card_resumen_compra {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px #cccccc;
}
.margin_5 {
    margin: 5px;
}

.checkout_image {
    width: 10vw;
    height: 15vh;
}


.block {
    display: inline-block;
    box-sizing: border-box;
}
