.color_primary {
    color: #0289cb;
}

.background_primary {
    background-color: #0289cb;
}

.color_secondary {
    color: #4caf50;
}

.background_secondary {
    background-color: #4caf50;
}

.grey {
    color: #757575;
}
