.color_primary {
    color: #0289cb;
}

.background_primary {
    background-color: #0289cb;
}

.color_secondary {
    color: #4caf50;
}

.background_secondary {
    background-color: #4caf50;
}

.grey {
    color: #757575;
}

.button_hover:hover{
   background-color: #066fa3;
}

.button_hover_secondary:hover{
   background-color: #0b7e31;
}