<footer class="bg-darkgrey mt-auto">
    <section class="container">
        <div class="row text-white">
            <div class="col-sm-6 col-md-3 mt-2">
                <h3 class="text-white font-weight-bold">
                    Suscribite a nuestro newsletter
                </h3>
                <p>Recibí nuestras ofertas y novedades antes que nadie.</p>
                <form>
                    <div class="mb-3 row">
                        <div class="col">
                            <input
                                type="email"
                                class="form-control"
                                id="suscribeNL"
                                placeholder="Ingrese su email"
                                aria-describedby="Ingrese su email para recibir nuestro newsletter"
                            />
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-warning">
                                Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 mt-2">
                <h3>Contacto</h3>
                <ul class="list-unstyled">
                    <li>11 2345 6789</li>
                    <li>
                        <a href="" class="text-white txtd-none"
                            >info@compumundohmr.com</a
                        >
                    </li>
                    <li>
                        <a href="" class="text-white txtd-none"
                            >Encontrar un local</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 mt-2">
                <h3>Productos</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="text-white txtd-none"
                            >Microprocesadores</a
                        >
                    </li>
                    <li>
                        <a href="" class="text-white txtd-none">Motherboards</a>
                    </li>
                    <li>
                        <a href="" class="text-white txtd-none">Memorias ram</a>
                    </li>
                    <li>
                        <a href="" class="text-white txtd-none"
                            >Placas de video</a
                        >
                    </li>
                    <li>
                        <a href="" class="text-white txtd-none"
                            >Discos rigidos</a
                        >
                    </li>
                    <li>
                        <a href="" class="text-white txtd-none">Ver todos</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 mt-2">
                <h3>Perifericos</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="text-white txtd-none">Teclados</a>
                    </li>
                    <li><a href="" class="text-white txtd-none">Mouses</a></li>
                    <li><a href="" class="text-white txtd-none">Pads</a></li>
                    <li>
                        <a href="" class="text-white txtd-none">Auriculares</a>
                    </li>
                    <li>
                        <a href="" class="text-white txtd-none">Parlantes</a>
                    </li>
                    <li>
                        <a href="" class="text-white txtd-none">Ver todos</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="containter-fliud bg-dark py-2">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="col-sm" src="images/logo_footer.png" alt="" />
                </div>
                <div class="col">
                    <a href=""
                        ><i class="text-white txtd-none fab fa-facebook"></i
                    ></a>

                    <a href=""
                        ><i class="text-white txtd-none fab fa-twitter"></i
                    ></a>

                    <a href=""
                        ><i class="text-white txtd-none fab fa-instagram"></i
                    ></a>
                </div>
            </div>
        </div>
    </section>
</footer>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
></script>
