<%- include("../partials/head") %>

<body class="d-flex flex-column min-vh-100">
    <%- include("../partials/header") %>

    <div class="text-center">
                    <h1 class="fw-bold my-4">Usuario:<%=user.email%></h1>
    </div>