<%- include("../partials/head") %>

    <body class="d-flex flex-column min-vh-100">
        <%- include("../partials/header") %>
            <div class="container my-3">
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-8 col-lg-8">
                        <div class="text-center">
                            <h1 class="fw-bold my-4">Ingresar</h1>
                        </div>
                        <div class="d-grid gap-2">
                        </div>
                        <form action="/users/login" method="POST" class="my-2">
                            <label for="">E-mail:</label>
                            <input type="email" name="email" class="form-control" id="email"
                                placeholder="mail@gmail.com" />
                            <label for="">Contraseña:</label>
                            <input type="password" name="password" class="form-control" id="password"
                                placeholder="ingresar contraseña" />
                            <div class="d-grid gap-1">
                                <button type="submit" class="btn btn-warning text-center">
                                    INGRESAR
                                </button>
                            </div>
                        </form>
                        <div class="text-center">
                            <a href="#" class="link-warning">No estas registrado? Registrate acá</a>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("../partials/footer") %>
    </body>