<%- include("../partials/head") %>

    <body class="d-flex flex-column min-vh-100">
        <%- include("../partials/header") %>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1 class="text-center my-3">Registrate</h1>
                        <!--<div class="d-grid gap-2">
                            <button class="btn btn-warning text-center my-1">
                                <i class="fab fa-google"></i> INGRESAR CON GOOGLE
                            </button>
                            <button class="btn btn-warning text-center my-1">
                                <i class="fab fa-facebook"></i> INGRESAR CON FACEBOOK
                            </button>
                        </div>-->

                        <form action="/users/register" method="POST" enctype="multipart/form-data">
                            <label for="">Nombre:</label>
                            <input type="text" class="form-control" name="first_name" id="name" placeholder="Nombre" />
                            <label for="">Apellido:</label>
                            <input type="text" class="form-control" name="last_name" id="name" placeholder="Apellido" />
                            <label for="">E-mail:</label>
                            <input type="email" name="email" class="form-control" id="email"
                                placeholder="mail@gmail.com" />
                            <label for="">Contraseña:</label>
                            <input type="password" name="password" class="form-control" id="password"
                                placeholder="Elegí tu contraseña" />
                            <label for="">Imagen</label>
                            <input type="file" name="image">
                            <br>
                            <label for="">Categoria</label>
                            <select type="text" name="category">
                                <option value="user">user</option>
                                <option value="admin">admin</option>

                            </select>
                            <button class="btn btn-warning text-center my-1 w-100" type="submit" value="CREAR_CUENTA">
                                CREAR CUENTA
                            </button>
                        </form>

                        <div class="text-center my-2">
                            <a class="text-warning" href="#">No estas registrado? Registrate acá</a>
                        </div>
                    </div>
                    <div class="col-sm text-center">
                        <i class="fas fa-user-circle fs-20 mt-3"></i>
                        <h3 class="fw-bold">¿Que vas a hacer con tu cuenta?</h3>
                        <ul>
                            <li>Consultar el estado de tus compras</li>
                            <li>Administrar tus productos favoritos</li>
                            <li>Descargar las facturas</li>
                            <li>Consultar manuales de los productos comprados</li>
                            <li>Definir tus preferencias e intereses</li>
                            <li>Acceder al historial de productos vistos</li>
                            <li>Retomar tus compras incompletas</li>
                        </ul>
                        <h6 class="">
                            Recibi notificaciones de tus compras, ofertas y descuentos
                            exclusivos.
                        </h6>
                        <h6 class="">Ver politicas de privacidad</h6>
                    </div>
                </div>
            </div>
            <%- include("../partials/footer") %>
    </body>