<div class="card mb-3" style="max-width: 75vw">
    <div class="row g-0 align-items-center">
        <div class="col">
            <img
                src="/images/products/<%= product.image%>"
                class="card-img-top"
                alt="Card image cap"
            />
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 40%">
                    <%= product.name%>
                </h5>
            </div>
        </div>
        <div class="col"><p class="card-text">Precio</p></div>
        <div class="col">
            <p class="card-text">
                <small class="text-muted"><%=toThousand(product.price)%></small>
            </p>
        </div>
        <div class="col"><p>Cantidad:</p></div>
        <div class="col">
            <div class="btn-group">
                <button
                    class="btn btn-secondary btn-sm dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    1
                </button>
                <ul class="dropdown-menu" style="min-width: 1rem !important">
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                </ul>
            </div>
        </div>
        <div class="col"><p>Subtotal</p></div>
        <div class="col">
            <p class="card-text">
                <small class="text-muted"><%=toThousand(product.price)%></small>
            </p>
        </div>
        <div class="col"><i class="fas fa-trash"></i></div>
    </div>
</div>
